node_modules/
.DS_Store
dist/
*.log
*.envconfig.ts
envconfig.ts
*.js
!webpack.config.js
.env
.env.*
.vercel
apps/backend/.env*
apps/backend/node_modules/
*.local
*.cache
*.DS_Store
coverage/
*.tgz
*.zip
*.tar.gz